body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#item {
    padding-bottom: 5px;
}

#itemDescription {
    height: 20px;
}

.itemCompleted:checked + .itemDescription {
    text-decoration: line-through;
    background-color: rgb(210, 206, 206);
}

#add {
    margin-top: 15px;
    padding:10px;
}
.item {
    padding: 5px;
}